RewriteEngine On
RewriteCond %{REQUEST_FILENAME}% !-f
RewriteCond %{REQUEST_FILENAME}% !-d

#Login
RewriteRule ^dang-nhap.html$ index.php?controller=login&action=index
#Dashboard
RewriteRule ^trang-dieu-khien.html$ index.php?controller=dashboard&action=index